apiVersion: apps/v1
kind: Deployment
metadata:
 creationTimestamp: null
 labels:
   app: {{ .Values.app.name }}
 name: {{ .Values.app.name }}
spec:
 replicas: {{ .Values.replicaCount }}
 selector:
   matchLabels:
     app: {{ .Values.app.name }}
 strategy: {}
 template:
   metadata:
     creationTimestamp: null
     labels:
       app: {{ .Values.app.name }}
   spec:
     containers:
     - image: {{ .Values.image.repository }}
       name: {{ .Values.image.tag }}
       resources:
        {{- toYaml .Values.resources | nindent 8 }}
status: {}